html, body {
	height: 100%;
}

#discutainer {
	height: 100%;
	max-height: 640px;
	top: 32px;
}

#discurow {
	height: 90%;
}

#namerow {
	height: 10%;
	text-align: center;
}

#messageSection {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	border: 1px lightgrey solid;
	padding: 0 0 0 4px;
}

#messageList {
	overflow-y: scroll;
}

#messageWriter {
	height: 64px;
	flex-shrink: 0;
	margin-bottom: 4px;
}

#messageInput {
	width: 80%;
	height: 100%;
}

#messageButton {
	width: 19%;
	height: 100%;
	position: relative;
	top: -1px;
}

.message {
}

.channel {
}
