html, body {
	height: 100%;
}

#discutainer {
	height: 100%;
	max-height: 640px;
	top: 32px;
}

#discurow {
	height: 90%;
}

#namerow {
	height: 10%;
	text-align: center;
}

#messageSection {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	border: 1px lightgrey solid;
	padding: 0 4px 0 4px;
}

#messageList {
	overflow-y: scroll;
	overflow-x: hidden;
}

.messageDiv {
	display: flex;
	flex-direction: row;
}

.messageLeft {
	flex-shrink: 0;
	font-weight: bold;
}

.messageCenter {
	flex-grow: 1;
	word-break: break-all;
}

.messageRight {
	flex-shrink: 0;
	color: grey;
}

#messageWriter {
	flex-shrink: 0;
	margin: 0;
}

#messageInput {
	height: 40px; 
	margin-bottom: 4px;
}

#messageButton {
	height: 100%;
	margin-bottom: 4px;
}

.message {
}

.channel {
}

.channelDiv {
	/*overflow-y: scroll;*/
	overflow-x: hidden;
	order: -1;
	flex-grow: 1;
}
.channelDivInvis {
	visibility: hidden;
	height: 0;
}

.chSelectYes {
	font-weight: bold;
}

.chSelectNo {
	color: black;
}
